*{
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     text-decoration: none;
    
}
    


.background-image{
     background-image: url(images/poor_children.jpg);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: 100% 100%;
    display: flex;
     
     height: auto;
     padding: 50px;
  
     
}
.big-text{
    
     color: whitesmoke;
     text-align: center;
     
    
}
.div-1{
     color: whitesmoke;
   
     text-align: center;
}
.colour-text{
     color: rgb(255, 196, 1);
}

   

.div2{
     text-align: center;
}
.div2 p{
     font-size: x-small;
}
.div2 h1{
     font-size: 30px;
}


  
     
span{
     
     background-color: rgba(105, 105, 103, 0.079);
     font-size: 20px;
     border-radius: 1px ;
     padding: 10px 10px;
}
.div3{
    
    margin-top: 40px;
  
}
.h2-anchor2{

     margin-top: 30px;
}

     

.div4{
     text-align: center;
     padding: 5%;
}
.div4 p{
     font-size: x-small;
}
.div4 h1{
     font-size: 30px;
}
.div5{
    display: flex;
   
     justify-content: space-around;
     color: rgb(0, 0, 0);
   
}




.f-f-f{
    
     width: 250px;
  
     padding: 125px 125px;
     margin: 20px;
}
.s-f-f{
    
    
    
     width: 250px;
  
     padding: 125px 125px;
     margin: 20px;

}
.e-f-c{
   
    
   
     width: 250px;
  
     padding: 125px 125px;
     margin: 20px;
}
.div6{
     margin-right: 70%;
     font-size: 20px;
     padding: 100px;
     margin-left: 30px;

}
.div7{
     font-size: 15px;
     margin-top: -5%;
     margin-left: 130px;
}
.div8{
     display: flex;
     margin-left: 50%;
}
.div8-img{
     width: 500px;
     height: auto;
     padding: 10%;
     margin-top: -54%;
    
}
.img3{
     width: 500px;
     height: auto;
     padding: 10%;
    
}
.div9{
   
     width: 500px;
     height: auto;
     padding: 10%;
     margin-top: -45%;
     margin-left: 50%;
     font-size: 20px;
}
.div9 p{
     font-size: 15px;
     margin-top: 40px;
}

.anchor{
     text-decoration: none;
     color: black;
     font-size: 20px;
    
     background-color: rgba(255, 77, 0, 0.546);
     padding: 5px 10px;
     border-radius: 5px;
     width: 100px;
     margin-left: 160px;
     margin-top: 20px;
    
   }
   .anchor2{
     text-decoration: none;
     font-size: 20px;
     color:black;
     background-color: rgba(255, 77, 0, 0.776);
     padding: 5px 10px;
     border-radius: 5px;
     width: 100px;
    
   }
  
   .anchor3{

 text-decoration: none;
     
     color:black;
     background-color: rgba(255, 77, 0, 0.776);
   
     padding: 0px 10px;
     border-radius: 5px;
     width: 100px;
     
   }
   .anchor4{
     text-decoration: none;
     
     color:black;
     background-color: rgba(255, 77, 0, 0.776);
   
     padding: 0px 10px;
     border-radius: 5px;
     width: 100px;
   }
   footer{
     text-align: center;
     color: aliceblue;
     margin-top: 20%;
     background-color: black;
     padding: 30px;
   }
   .fr{
     color: orangered;
   }





   
